DJANGO_DEBUG=False
DJANGO_SECRET_KEY=change-me-to-a-long-random-secret
DJANGO_ALLOWED_HOSTS=example.com,www.example.com
DJANGO_CSRF_TRUSTED_ORIGINS=https://example.com,https://www.example.com
DJANGO_SETTINGS_MODULE=config.settings_prod

DB_ENGINE=django.db.backends.mysql
DB_NAME=spa_db
DB_USER=spa_user
DB_PASSWORD=change-me
DB_HOST=127.0.0.1
DB_PORT=3306

DJANGO_SECURE_SSL_REDIRECT=True
DJANGO_SECURE_HSTS_SECONDS=31536000
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=True
DJANGO_SECURE_HSTS_PRELOAD=True
